{% extends 'base.html' %}
{% load static %}

<!-- Page title -->
{% block title %}نام شرکت{% endblock title %}

{% block top %}
	<ul class="slides">
		<li style="background-image: url({% static 'web/images/img_bg_4.jpg' %});">
			<div class="overlay"></div>
			<div class="container-fluid">
				<div class="row">
					<daboveiv class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
						<div class="slider-text-inner text-center">
							<h1>وسواس ما در ظرافت بسیار بالاست</h1>
							<h2>ارائه انواع خدمات ساختمانی</h2>
						</div>
					</daboveiv>
				</div>
			</div>
		</li>
		<li style="background-image: url({% static 'web/images/img_bg_2.jpg' %});">
			<div class="overlay"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
						<div class="slider-text-inner text-center">
							<h1>به کارگیری مواد با کیفیت در تمام مراحل</h1>
							<h2>مصالح خود را انتخاب کنید</h2>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li style="background-image: url({% static 'web/images/img_bg_3.jpg' %});">
			<div class="overlay"></div>
			<div class="container-fluids">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
						<div class="slider-text-inner text-center">
							<h1>ما ساختمان های حرفه ای ساختیم</h1>
							<h2>ما ساختمان های مختلفی ساختیم</h2>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li style="background-image: url({% static 'web/images/img_bg_1.jpg' %});">
			<div class="overlay"></div>
			<div class="container-fluids">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
						<div class="slider-text-inner text-center">
							<h1>ما آینده شما را خواهیم ساخت</h1>
							<h2>هر نوع ساختمانی را خواهیم ساخت</h2>
						</div>
					</div>
				</div>
			</div>
		</li>	
	</ul>
{% endblock top %}

{% block content %}
	<div id="colorlib-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tabulation animate-box">
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#general"><i class="flaticon-architect-with-helmet"></i> ساخت مکان های عمومی</a></li>
						<li><a data-toggle="tab" href="#manage"><i class="flaticon-engineer"></i> مدیریت ساخت و ساز</a></li>
						<li><a data-toggle="tab" href="#modeling"><i class="flaticon-skyline"></i> ساخت مدل ها</a></li>
						<li class="active"><a data-toggle="tab" href="#plan"><i class="flaticon-sketch"></i> نقشه کشی &amp; طراحی</a></li>
					</ul>
					<div class="tab-content">
						<div id="plan" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-6">
									<div class="services-img" style="background-image: url({% static 'web/images/building-1.jpg' %});"></div>
								</div>
								<div class="col-md-6">
									<div class="services-desc text-right">
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										<ul>
											<li>It is a paradisematic country in which</li>
											<li>Even the all-powerful Pointing has no control</li>
											<li>When she reached the first hills of the Italic Mountains</li>
											<li>Alphabet Village and the subline of her own road</li>
										</ul>
									</div>
								</div>
							</div>
								</div>
								<div id="general" class="tab-pane fade">
								<div class="row">
								<div class="col-md-6">
									<div class="services-img" style="background-image: url({% static 'web/images/building-2.jpg' %});"></div>
								</div>
								<div class="col-md-6">
									<div class="services-desc">
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										<ul>
											<li>It is a paradisematic country in which</li>
											<li>Even the all-powerful Pointing has no control</li>
											<li>When she reached the first hills of the Italic Mountains</li>
											<li>Alphabet Village and the subline of her own road</li>
										</ul>
									</div>
								</div>
							</div>
								
							</div>
							<div id="manage" class="tab-pane fade">
							<div class="row">
								<div class="col-md-6">
									<div class="services-img" style="background-image: url({% static 'web/images/building-3.jpg' %});"></div>
								</div>
								<div class="col-md-6">
									<div class="services-desc">
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										<ul>
											<li>It is a paradisematic country in which</li>
											<li>Even the all-powerful Pointing has no control</li>
											<li>When she reached the first hills of the Italic Mountains</li>
											<li>Alphabet Village and the subline of her own road</li>
										</ul>
									</div>
								</div>
							</div>
							
							</div>
							<div id="modeling" class="tab-pane fade">
							<div class="row">
								<div class="col-md-6">
									<div class="services-img" style="background-image: url({% static 'web/images/building-4.jpg' %});"></div>
								</div>
								<div class="col-md-6">
									<div class="services-desc">
										<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										<ul>
											<li>It is a paradisematic country in which</li>
											<li>Even the all-powerful Pointing has no control</li>
											<li>When she reached the first hills of the Italic Mountains</li>
											<li>Alphabet Village and the subline of her own road</li>
										</ul>
									</div>
								</div>
							</div>
							</div>
							</div>
						</div>
			</div>
		</div>
	</div>

	<div id="colorlib-services">
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="flaticon-engineer"></i>
						</span>
						<div class="desc">
							<h3>ساخت مکان های عمومی</h3>
							<p>توضیحات راجب این بخش</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="flaticon-engineering"></i>
						</span>
						<div class="desc">
							<h3>ساخت مدل ها</h3>
							<p>توضیحات راجب این بخش</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="flaticon-skyline"></i>
						</span>
						<div class="desc">
							<h3>طراحی ساختمان</h3>
							<p>توضیحات راجب این بخش</p>
							</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="flaticon-crane"></i>
						</span>
						<div class="desc">
							<h3>خدمات ساختمانی</h3>
							<p>توضیحات راجب این بخش</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="flaticon-sketch"></i>
						</span>
						<div class="desc">
							<h3>طرح های ساختمانی</h3>
							<p>توضیحات راجب این بخش</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="flaticon-conveyor"></i>
						</span>
						<div class="desc">
							<h3>مدیریت ساخت و ساز</h3>
							<p>توضیحات راجب این بخش</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="colorlib-counter" class="colorlib-counters" style="background-image: url({% static 'web/images/cover_img_1.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutter">
				<div class="col-md-3 col-sm-6 aside-stretch text-center animate-box">
					<div class="counter-entry">
						<span class="icon icon-white"><i class="flaticon-skyline"></i></span>
						<span class="colorlib-counter js-counter" data-from="0" data-to="1539" data-speed="5000" data-refresh-interval="50"></span>
						<span class="colorlib-counter-label">پروژه ها</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="counter-entry">
						<span class="icon"><i class="flaticon-engineer"></i></span>
						<span class="colorlib-counter js-counter" data-from="0" data-to="3653" data-speed="5000" data-refresh-interval="50"></span>
						<span class="colorlib-counter-label">کارمندان</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="counter-entry">
						<span class="icon"><i class="flaticon-architect-with-helmet"></i></span>
						<span class="colorlib-counter js-counter" data-from="0" data-to="5987" data-speed="5000" data-refresh-interval="50"></span>
						<span class="colorlib-counter-label">سازندگان</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="counter-entry">
						<span class="icon"><i class="flaticon-worker"></i></span>
						<span class="colorlib-counter js-counter" data-from="0" data-to="3999" data-speed="5000" data-refresh-interval="50"></span>
						<span class="colorlib-counter-label">همکاران</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="colorlib-project">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
					<h2>پروژه های ما</h2>
					<p>یک جمله جهت زیبایی صفحه</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="project-entry">
						<a href="project.html" class="project-img text-center" style="background-image: url({% static 'web/images/building-1.jpg' %});">
							<span class="icon"><i class="icon-search2"></i></span>
						</a>
						<div class="desc">
							<h3><a href="project.html">طراحی داخلی آپارتمان</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-8 animate-box">
					<div class="project-entry">
						<a href="project.html" class="project-img text-center" style="background-image: url({% static 'web/images/building-2.jpg' %});">
							<span class="icon"><i class="icon-search2"></i></span>
						</a>
						<div class="desc">
							<h3><a href="project.html">محیط شرکت</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="project-entry">
						<a href="project.html" class="project-img text-center" style="background-image: url({% static 'web/images/building-3.jpg' %});">
							<span class="icon"><i class="icon-search2"></i></span>
						</a>
						<div class="desc">
							<h3><a href="project.html">ساختمان های مسکونی</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="project-entry">
						<a href="project.html" class="project-img text-center" style="background-image: url({% static 'web/images/building-4.jpg' %});">
							<span class="icon"><i class="icon-search2"></i></span>
						</a>
						<div class="desc">
							<h3><a href="project.html">طراحی داخلی آشپزخانه</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-8 animate-box">
					<div class="project-entry">
						<a href="project.html" class="project-img text-center" style="background-image: url({% static 'web/images/building-5.jpg' %});">
							<span class="icon"><i class="icon-search2"></i></span>
						</a>
						<div class="desc">
							<h3><a href="project.html">مجتمع تجاری</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="project-entry">
						<a href="project.html" class="project-img text-center" style="background-image: url({% static 'web/images/building-6.jpg' %});">
							<span class="icon"><i class="icon-search2"></i></span>
						</a>
						<div class="desc">
							<h3><a href="project.html">ساخت هتل ها</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="about-wrap">
	<div id="colorlib-about" class="colorlib-about-img" style="background-image: url({% static 'web/images/cover_img_2.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center colorlib-heading colorlib-heading2 animate-box">
					<h2>تیم ما</h2>
					<p>یک جمله جهت زیبایی صفحه</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 animate-box">
					<div class="about-flex">
						<div class="col-half">
							{% for employee in employees %}
							<a href="#" class="staff-img" style="background-image: url({% static 'web/images/'%}{{ employee.profile_pic }});">
								<div class="desc-staff">
									<h3>{{ employee.user.first_name }} {{ employee.user.last_name }}</h3>
									<span>{{ employee.post }}</span>
								</div>
							</a>
							{% endfor %}
						</div>
						<div class="col-half text-right">
							<div class="desc">
								<p>رئیس بزرگ او را توصیه کرد که این کار را نکنند، زیرا هزاران نفر از علامت های ناخوشایند و وحشی وجود داشت؛ اما او گوش نداد.</p>
								<div class="fancy-collapse-panel">
													<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingOne">
												<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ما کی هستیم
														</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body">
														<!--p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. توضیحات راجب این بخش, a large language ocean.</p-->
														<p>شعار و معرفی تیم در اینجا</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
														<a class="collapsed text-left" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">ما چکار میکنیم؟
														</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
												<div class="panel-body">
														<p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. توضیحات راجب این بخش, a large language ocean.</p>
												</div>
											</div>
										</div>
													<div class="panel panel-default">
															<div class="panel-heading" role="tab" id="headingThree">
																	<h4 class="panel-title">
																			<a class="collapsed text-left" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">چرا باید ما را انتخاب کند؟
																			</a>
																	</h4>
															</div>
															<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
																	<div class="panel-body">
																			<p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. توضیحات راجب این بخش, a large language ocean.</p>	
																	</div>
																</div>
														</div>
													</div>
											</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div id="colorlib-testimony">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
					<h2>نظرات مشتریان:</h2>
					<p>یک جمله جهت زیبایی صفحه</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="row animate-box">
						<div class="owl-carousel1">
							{% for comment in comments %}
							<div class="item">
								<div class="testimony-slide">
									<div class="testimony-wrap">
										<figure>
											<img src="{% static 'web/images/' %}{{ comment.author.profile_pic }}" alt="Picture">
										</figure>
										<blockquote>
											<span>{{ comment.author }}</span>
											<p>{{ comment.text }}</p>
										</blockquote>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="colorlib-subscribe">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
					<h2>در خبرنامه ما عضو شوید</h2>
					<p>در خبرنامه ما عضو شوید تا آخرین اخبار و رویداد ها را دنبال کنید</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-12">
						<form class="form-inline qbstp-header-subscribe">
							<div class="col-three-forth">
								<div class="form-group">
									<input type="text" class="form-control" id="email" placeholder="Enter your email">
								</div>
							</div>
							<div class="col-one-third">
								<div class="form-group">
									<button type="submit" class="btn btn-primary">عضویت</button>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}